<!DOCTYPE html>
<html>
<head>
    <title>Real-Time Data Stream</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.0/socket.io.js"></script>
    <script type="text/javascript">
        var socket = io.connect('http://' + document.domain + ':' + location.port + '/test');
        socket.on('newdata', function(msg) {
            var node = document.createElement("P");
            var textnode = document.createTextNode(msg.data);
            node.appendChild(textnode);
            document.getElementById("data").appendChild(node);
        });
        function clearData() {
            document.getElementById("data").innerHTML = "";
        }
        function startGenerating() {
            socket.emit('start_generate', {});
        }
        function stopGenerating() {
            socket.emit('stop_generate', {});
        }
    </script>
</head>
<body>
    <div id="controls">
        <button onclick="startGenerating()">Start Generating</button>
        <button onclick="stopGenerating()">Stop Generating</button>
        <button onclick="clearData()">Clear Data</button>
    </div>
    <div id="data"></div>
</body>
</html>
